<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Thêm sản phẩm</title></head>
<body>

<h1>Thêm sản phẩm</h1>

<form action="/admin/products/save" method="post" enctype="multipart/form-data">

    <label>Tên sản phẩm:</label><br>
    <input type="text" name="name"><br>

    <label>Giá:</label><br>
    <input type="number" name="price"><br>

    <label>Ảnh sản phẩm:</label><br>
    <input type="file" name="imageFile"><br>

    <label>Mô tả:</label><br>
    <textarea name="description"></textarea><br>

    <label>Số lượng tồn:</label><br>
    <input type="number" name="stock"><br>

    <label>Danh mục:</label><br>
    <select name="category.categoryId"
            th:each="c : ${categories}"
            th:value="${c.categoryId}"
            th:text="${c.name}">
    </select><br><br>

    <button type="submit">Lưu</button>
</form>


</body>
</html>
