<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông Tin Tài Khoản</title>

    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/auth/account.css}">
</head>

<body>

<header th:replace="layout/header :: header"></header>

<div class="account-wrapper">

    <!-- CỘT TRÁI -->
    <div class="account-left">

        <div class="user-box">
            <div class="avatar-circle">
                <i class="fas fa-user"></i>
            </div>

            <div class="hello-box">
                <p>Hello,</p>
                <strong th:text="${user.fullName}">User Name</strong>
            </div>
        </div>

        <ul class="account-menu">
            <li>
                <a th:href="@{/account/orders}"
                   th:classappend="${section == 'orders'} ? 'active'">
                    Đơn Hàng
                </a>
            </li>

            <li>
                <a th:href="@{/account/address}"
                   th:classappend="${section == 'address'} ? 'active'">
                    Địa Chỉ
                </a>
            </li>

            <li>
                <a th:href="@{/account/profile}"
                   th:classappend="${section == 'profile'} ? 'active'">
                    Tài Khoản
                </a>
            </li>

            <li>
                <a th:href="@{/logout}" class="logout">
                    Đăng xuất
                </a>
            </li>
        </ul>

    </div>


    <div th:if="${section == 'orders'}">

        <h2>ĐƠN HÀNG CỦA TÔI</h2>

        <table class="order-table">
            <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Ngày đặt</th>
                <th>Thanh toán</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="o : ${orders}">
                <td>
                    <a th:href="@{'/account/orders/' + ${o.orderId}}">
                        #<span th:text="${o.orderId}"></span>
                    </a>
                </td>
                <td th:text="${#temporals.format(o.createdAt,'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${o.paymentMethod}"></td>
                <td th:text="${o.totalAmount} + 'đ'"></td>
                <td>
                <span class="status"
                      th:text="${o.status}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <p th:if="${orders.size() == 0}">
            Bạn chưa có đơn hàng nào.
        </p>

    </div>


</div>
<!--footer-->


</body>
</html>
