<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết đơn hàng</title>

    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
    <link rel="stylesheet" th:href="@{/css/auth/order-detail.css}">
</head>

<body>

<header th:replace="layout/header :: header"></header>

<div class="order-detail-container">

    <h2 class="order-title">CHI TIẾT ĐƠN HÀNG #<span th:text="${order.orderId}"></span></h2>

    <div class="order-info">
        <p><b>Ngày đặt:</b>
            <span th:text="${#temporals.format(order.createdAt,'dd/MM/yyyy HH:mm')}"></span>
        </p>
        <p><b>Thanh toán:</b> <span th:text="${order.paymentMethod}"></span></p>
        <p>
            <b>Trạng thái:</b>
            <span class="status"
                  th:classappend="${order.status.toLowerCase()}"
                  th:text="${order.status}">
        </span>
        </p>
    </div>


    <table class="order-table">
        <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Tạm tính</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="i : ${items}">
            <td th:text="${i.product.name}"></td>
            <td th:text="${i.quantity}"></td>
            <td th:text="${i.price} + 'đ'"></td>
            <td th:text="${i.quantity * i.price} + 'đ'"></td>
        </tr>
        </tbody>
    </table>

    <form th:if="${order.status == 'PENDING'}"
          th:action="@{'/account/orders/cancel/' + ${order.orderId}}"
          method="post"
          onsubmit="return confirm('Bạn có chắc muốn hủy đơn này?')">
        <button class="btn-cancel">HỦY ĐƠN</button>
    </form>

    <p class="total">
        <b>Tổng thanh toán:</b>
        <span th:text="${order.totalAmount} + 'đ'"></span>
    </p>

    <a href="/account/orders">← Quay lại đơn hàng</a>

</div>

<!--<footer th:replace="layout/footer :: footer"></footer>-->

</body>
</html>
