<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: content">

<div class="auth-box">

    <h2 class="text-center mb-3">Đăng Ký</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">

        <div class="mb-3">
            <label>Họ tên</label>
            <input th:field="*{fullname}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input th:field="*{email}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Mật khẩu</label>
            <input type="password" th:field="*{password}" class="form-control" required>
        </div>

        <button class="btn btn-success w-100" type="submit">Tạo tài khoản</button>
    </form>

</div>

</html>
