<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm danh mục</title>
</head>
<body>

<h2>Thêm danh mục</h2>

<form th:action="@{/admin/categories/save}" th:object="${category}" method="post">

    <label>Tên danh mục</label>
    <input type="text" th:field="*{name}" required>

    <br><br>

    <label>Mô tả</label>
    <textarea th:field="*{description}"></textarea>

    <br><br>

    <button type="submit">Lưu</button>
</form>

</body>
</html>
