<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" th:href="@{/css/cart/cart.css}">
    <link rel="stylesheet" th:href="@{/css/layout/footer.css}">
</head>

<body>

<!-- Header -->
<div th:replace="layout/header :: header"></div>

<div class="cart-container">

    <h2 class="cart-title">GIỎ HÀNG CỦA BẠN</h2>

    <!-- Giỏ trống -->
    <div class="cart-empty" th:if="${#lists.isEmpty(cartItems)}">
        <p>Giỏ hàng của bạn đang trống</p>
        <a href="/" class="btn-continue">TIẾP TỤC MUA SẮM</a>
    </div>

    <!-- Có sản phẩm -->
    <table class="cart-table" th:if="${!#lists.isEmpty(cartItems)}">
        <thead>
        <tr>
            <th class="col-product">Sản phẩm</th>
            <th class="col-price">Giá</th>
            <th class="col-qty">Số lượng</th>
            <th class="col-total">Tổng</th>
            <th class="col-remove">Xóa</th>
        </tr>
        </thead>

        <tbody>
        <tr class="cart-row" th:each="item : ${cartItems}">
            <!-- Cột Sản phẩm -->
            <td>
                <div class="product-box">
                    <img th:src="@{${item.product.image}}" class="cart-img">
                    <span th:text="${item.product.name}"></span>
                </div>
            </td>

            <!-- Cột Giá -->
            <td class="price" th:text="${item.product.price} + 'đ'"></td>
            <!--Số lượng-->
            <td class="qty">
                <form th:action="@{/cart/update}" method="post">
                    <input type="hidden" name="itemId" th:value="${item.id}">
                    <input type="number"
                           name="quantity"
                           min="1"
                           th:value="${item.quantity}"
                           onchange="this.form.submit()"
                           class="qty-input">
                </form>
            </td>


            <td class="total" th:text="${item.quantity * item.product.price} + 'đ'"></td>

            <td class="remove">
                <a th:href="@{'/cart/remove/' + ${item.id}}"
                   onclick="return confirm('Xóa sản phẩm này?')"
                   class="remove-btn">×</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/apply-coupon}" method="post" class="coupon-form">
        <input type="text" name="code" placeholder="Nhập mã giảm giá">
        <button type="submit">Áp dụng</button>
    </form>

    <p th:if="${discount > 0}">
        🎉 Đã giảm: <b th:text="${discount}"></b> %
    </p>


    <!-- Tổng -->
    <div class="cart-total" th:if="${!#lists.isEmpty(cartItems)}">
        <span>Tổng thanh toán:</span>
        <span class="total-price" th:text="${totalPrice} + 'đ'"></span>
        <a href="/checkout" class="btn-checkout">THANH TOÁN</a>
    </div>

</div>

<!-- Footer -->


</body>
</html>
