/* GRID LIST */
.product-grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px;
    margin-top: 40px;
}

/* ITEM LIST */
.list-item {
    padding: 0;
    text-align: left;
}


.list-item .list-img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;

    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

/* HOVER - */
.list-item:hover .list-img {
    transform: scale(1.05);
}

/* TÊN SẢN PHẨM & GIÁ */
.list-item .product-name {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    color: #000;
}

.list-item .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-top: 5px;
}