/* GRID LIST */
.product-grid-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 0 40px;
    margin-top: 40px;
}

/* ITEM LIST */
.list-item {
    padding: 10px;
}

/* ẢNH CHUẨN NHƯ TRANG HOME */
.list-item .list-img {
    width: 100%;
    height: 280px !important;   /* KHÔNG bị ảnh hưởng bởi home */
    object-fit: cover !important;
    border-radius: 12px;
}

/* TÊN SẢN PHẨM */
.list-item .product-name {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}

/* GIÁ */
.list-item .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #444;
}
/*Phóng to*/
.list-item .list-img {
    transition: transform 0.3s ease;
}

.list-item:hover .list-img {
    transform: scale(1.05);
}
