<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:replace="fragments/_layout :: head('Devmaster:Liên hệ')"></head>

<body>

<!-- Header -->
<header th:replace="fragments/_layout :: header"></header>

<section class="container" style="min-height: 268px">
    <div class="row">
        <h1>Đây là trang liên hệ</h1>
        <p>Tầng 8, Tòa VIỆN CÔNG NGHỆ</p>
        <p>Số 25, phố Vũ Ngọc Phan, Láng Hạ, Đống Đa, Hà Nội</p>
    </div>
</section>

<!-- Footer -->
<footer th:replace="fragments/_layout :: footer"></footer>

</body>
</html>
