/*Banner*/
 .bannerSwiper {
        width: 100%;
        height: 450px;
    }

    .bannerSwiper img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
        filter: drop-shadow(0 0 8px black);
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: rgba(255,255,255,0.8);
    }

    .swiper-pagination-bullet-active {
        background-color: #28a745;
    }

/*Danh muc*/
.category-item {
    position: relative;
    overflow: hidden;
    height: 380px;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.category-item:hover img {
    filter: brightness(60%);
    transform: scale(1.05);
}

/* Text nằm giữa ảnh */
.category-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0 3px 10px black;
    text-align: center;
}

.section-title {
    font-size: 36px;    /* chỉnh độ lớn chữ */
    font-weight: 700;   /* đậm hơn */
    color: #1f8c5c;     /* nếu muốn đổi màu */
    text-align: center; /* căn giữa */
    margin: 40px 0 20px;
}

/*Form danh muc*/
.section-title {
    font-size: 40px;    /* chỉnh độ lớn chữ */
    font-weight: 700;   /* đậm hơn */
    color: #1f8c5c;     /* nếu muốn đổi màu */
    text-align: center; /* căn giữa */
    margin: 40px 0 20px;
}

/* Banner */
.bannerSwiper {
    height: 580px !important; /* bạn chỉnh 320–380 tùy màn hình */
}

.bannerSwiper .swiper-wrapper,
.bannerSwiper .swiper-slide {
    height: 100% !important;
}

/* Ảnh phủ toàn bộ banner, không méo, đẹp chuẩn */
.bannerSwiper .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    display: block;
}
