
/*  LOGO  */
.logo-img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin-right: 2px;
}
.header-main {
    padding: 15px 0;
}

/* Chữ */
.logo-text {
    font-size: 40px;
    font-weight: 800;
    color: #1f8c5c;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin-left: 10px;
}


.header-social {
    margin-left: 0 !important;
    padding-left: 1px !important; /* chỉnh tùy ý 0–20px */
}

.header-icons {
    margin-right: 0 !important;
    padding-right: 1px !important; /* chỉnh tùy ý 0–20px */
}
/*Danh mục k xuong dong*/
.navbar-nav {
    flex-wrap: nowrap !important;
}

.nav-item {
    white-space: nowrap !important;
}

/* MENU DROPDOWN Ban Chay */
.dropdown {
    position: relative;
}

/* Ẩn mặc định */

.dropdown-menu {
    display: none !important;
    position: absolute;
    top: 100%;
    left: 0;
    width: 1500px;
    padding: 40px 60px;
    background: white;
    display: flex;
    gap: 80px;
    order-radius: 8px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    z-index: 999;
}
/* Hiện khi hover */
.dropdown:hover .dropdown-menu {
    display: flex !important;
}
/* Từng cột */
.menu-column {
    flex: 1;
    min-width: 250px;
}
/* Tiêu đề cột */
.menu-column h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
/* Link trong menu */
.menu-column a {
    display: block;
    margin-bottom: 12px;
    color: #333;
    font-size: 20px;
    text-decoration: none;
}
.menu-column a:hover {
    color: #009879;
}
/* Hiện khi di chuột */
.dropdown:hover .dropdown-menu {
    display: flex !important;
}


/* Định dạng icon mũi tên */
.dropdown-toggle-custom i {
    font-size: 12px;
    margin-left: 5px;
    transition: transform 0.2s ease;
}

/* Khi di chuột thì xoay mũi tên */
.dropdown:hover .dropdown-toggle-custom i {
    transform: rotate(180deg);
}
/*Logo nhap nhay*/
.logo-text {
    font-size: 40px;
    font-weight: 800;
    color: #1f8c5c;
    animation: colorPulse 1.2s infinite;
}

@keyframes colorPulse {
    0% { color: #1f8c5c; }
    50% { color: #32d49a; }
    100% { color: #1f8c5c; }
}

/* style mặc định */
.navbar-nav .nav-link {
    color: #444;
    position: relative;
    padding-bottom: 4px;
    transition: 0.25s ease-in-out;
}

/* khi hover đổi sang xanh lá + phóng nhẹ */
.navbar-nav .nav-link:hover {
    color: #0ea545;   /* màu xanh lá logo Fresh Fruit */
    transform: scale(1.08);
}

/* gạch chân chạy mượt */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ff6600;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}













